.news {
  margin: 20px;
  width: auto;
}

.flex-container {
  align-items: center;
  border: solid black 1px;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  justify-content: center;
  }

.flex-item {
  height: auto;
  width: auto;
  margin: 11px;
  padding: 5px;
  border: solid black 1px;
  background-color: #f9f9f9;
}

.row {
  display: flex;
  flex-direction: row;
}

.add-flex-item {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 2px solid black;
position: absolute;
}
.item{
  display: flex;
  width: 150px;
  height: auto;
}