<div class="news">
  <div class="flex-container row">
    <div class="flex-item">
      <img src="../../assets/images/image1.jpg" class="item">
    </div>
    <div class="flex-item">
      <img src="../../assets/images/image2.jpg" class="item">
    </div>
    <div class="flex-item">
      <img src="../../assets/images/image3.jpg" class="item">
    </div>
    <div class="flex-item">
      <img src="../../assets/images/image4.jpg" class="item">
    </div>
    <button class="add-flex-item">+</button>
  </div>

  <a href="" class="nextpage">lololololo</a>
</div>
