.row {
  display: flex;
  flex-direction: row;
}

//settings buttons style.........
.set-buttons {
  width: 40px;
  height: 40px;
  margin: 5px;
  padding: 3px;

}

//first three buttons style.......
.butt {
  height: 25px;
  width: 25px;
  margin: 10px;
  padding: 5px;
  background-color: #3e8e41;
  opacity: 0.5;

}

//container for things in dropdown menu.....
.something {

}

.thing {
  height: 25px;
  width: 125px;
  margin: 10px;
  padding: 5px;
  background-color: #3e8e41;
  opacity: 0.5;
}

//dropdown button style..............
.button {
  display: block;
  height: 50px;
  width: 150px;
  cursor: pointer;
}

//Dropdown button on hover & focus......
.button:hover, .button:focus {
  background-color: #3e8e41;
}

//all dropdown style................
.dropdown {
  display: inline-block;
  right: 0;
}

//all dropdown content hidden by default!..........
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  margin: 15px 0 0 0;
  z-index: 1;
}

// shows the dropdown menu.............
.show {
  display: block;
}
// div behind dropdown menu what closes it.....
.click {
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: black;
  opacity: 0.2;
  &.show {
    display: block;
  }
}