<div class="dropdown column">

  <!--link ktory nesmeruje nikam, otvara dropdown okno vdaka onbutton click..-->
  <div href="javascript:void(0)" class="button" (click)="onButtonClick()">button</div>

  <!--ng clas show ktory sa ukazuje a schovava -->
  <div class="dropdown-content" [ngClass]="{show: shown}">

    <ul class="set-buttons row">
      <li class="butt">set1</li>
      <li class="butt">set2</li>
      <li class="butt">set3</li>
    </ul>

    <ul class="something column">
      <li class="thing">something1</li>
      <li class="thing">something2</li>
      <li class="thing">something3</li>
      <li class="thing">something4</li>
      <li class="thing">something5</li>
    </ul>

  </div>
</div>
<!--ukazuje sa spolu s dropdown a po kliknuti do neho dropdown schova-->
<div class="click" [ngClass]="{show: shown}" (click)="somewhereButtonClick()"></div>
