<div class="dropdown column">

  <div class="button" onclick="myFunction()">button</div>

  <div class="dropdown-content" id="myDropdown">

    <ul class="set-buttons row">w
      <li class="butt">set1</li>
      <li class="butt">set2</li>
      <li class="butt">set3</li>
    </ul>

    <ul class="something column">
      <li class="thing">something1</li>
      <li class="thing">something2</li>
      <li class="thing">something3</li>
      <li class="thing">something4</li>
      <li class="thing">something5</li>
    </ul>

  </div>
</div>