.item {
  cursor: pointer;
  width: 350px;
  height: 350px;
  margin: 100px;
  box-shadow: 0px 0px 10px black;
  justify-content: space-around;
  align-items: center;
  transition: transform 1s;
}

.image {
  border: 1px solid black;
  width: 330px;
  height: auto;
}

.aboutItem {
  //change font
}

.item:hover {
  transform: rotate(-10deg);
  transition-duration: 1.5s;
}

.item:focus {
  box-shadow: 0px 0px 20px black;

}

// shows the content div.............
.wrap-show-content {
  height: 0;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;

  &.show {
    height: 100%;
    opacity: 1;
  }
}

.wrap-showed {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.image-opened {
  position: relative;
  border: 1px solid black;
  width: 600px;
  margin: 150px 150px;
  border: 1px solid black;


}

.exit-button {
  top: 0;
  right: 0;
  cursor: pointer;
  &.show {
    display: block;
  }
}

.exit-button-main {
  color: black;
  width: 40px;
  height: 40px;
  position: relative;
  right: 0;
}

.column {
  display: flex;
  flex-direction: column;
}
